# Copyright 2022 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Author: Paul Scheffler <paulsc@iis.ee.ethz.ch>

name: gitlab-ci

on: [ push, pull_request, workflow_dispatch ]

permissions:
  # deployments permission to deploy GitHub pages website
  deployments: write
  # contents permission to update benchmark contents in gh-pages branch
  contents: write

jobs:
  gitlab-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Check Gitlab CI
        uses: FrancescoConti/pulp-actions/gitlab-ci@08305a446838fdd051dac81ea43d55cc763a76e7
        # Skip on forks or pull requests from forks due to missing secrets.
        if: github.repository == 'pulp-platform/neureka' && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository)
        with:
          domain: iis-git.ee.ethz.ch
          repo: github-mirror/neureka
          token: ${{ secrets.GITLAB_TOKEN }}
          artifact: regr/perf.json
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        # Skip on forks or pull requests from forks due to missing secrets.
        if: github.repository == 'pulp-platform/neureka' && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository)
        with:
          name: Execution cycles
          tool: customSmallerIsBetter
          output-file-path: regr/perf.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true

